<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homet</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    a {
      margin: 2rem;
    }
  </style>
</head>
<body>
  <a href="/signup">signup</a>
  <a href="/login">login</a>
  <a href="/chat">chat</a>
</body>
</html>